
.app-icons-wrapper {
	overflow-y: scroll;
    max-height: 85em;
    -webkit-overflow-scrolling: touch;
}
.app-pod {
    color: #fff;
    width: 255px;
    margin: 40px 20px;
    display: inline-block;
    text-align: left;
}
.app-pod .app-icon {
    width: 100%;
    height: auto;
    max-width: 224px;
    margin-bottom: 40px;
    border-radius: 20%;
}
.app-pod h6 {
    font-family: 'acherusgrotesque-extrabold';
    font-size: 21px;
    line-height: 26px;
    min-height: 58px;
    margin-bottom: 18px;
    letter-spacing: 0.5px;
}
.app-button-wrap {
    padding: 0;
}
.app-button-wrap a {
    color: #00b0cd;
    text-decoration: none;
    transition: all 0.2s linear;
}
.app-button-wrap img:first-child {
    margin-right: 9px;
}
.app-button {
    height: 37px;
    width: auto;
}
.banner-img img {
	width: 100%;
    height: auto;
    max-height: 550px;
    display: block;
    position: relative;

}
.slider-box {
	padding-bottom: 20%;
}
.slick-arrow {
	z-index: 100;
}
.slick-prev {
	left: 10px !important;
}
.slick-next {
    right: 10px !important;
}