@font-face {
  font-family: 'GoodTimesRg-Regular';
  src: url('../fonts/GoodTimesRg-Regular-.eot#iefix') format('embedded-opentype'),  url('../fonts/GoodTimesRg-Regular.woff') format('woff'), url('../fonts/GoodTimesRg-Regular.ttf')  format('truetype'), url('../fonts/GoodTimesRg-Regular.svg#GoodTimesRg-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/cg-.eot#iefix') format('embedded-opentype'),  url('../fonts/cg.woff') format('woff'), url('../fonts/cg.ttf')  format('truetype'), url('../fonts/cg.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
	overflow-x: hidden;
	font: 16px 'CenturyGothic', 'Century Gothic', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'GoodTimesRg-Regular', Helvetica, Arial, sans-serif;
}

a, a:visited {
	color: #000;
	transition: color 0.5s ease 0.1s;
	text-decoration: none;
}

a:hover, a:active {
	color: #DE5021;
	text-decoration: none;
}

.container {
	padding: 3em 0;
}

.jumbotron .container {
	padding-top: 1em;
  width:100%;
}

#titles .container,
#about .container,
#team .container {
	padding: 4em 0 5em 0;
}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
  /*background: url('https://img.youtube.com/vi/oAvEP3Cxrx0/maxresdefault.jpg') center center / cover no-repeat;*/
}

video#video, iframe#video {
	width: 1600px;
	top: 50px;
    position: relative;
}
#player{
  display: none;
}
.middle-map{
  border-right: 5px solid #333;
  border-left: 5px solid #333;
}

.map-container {
  padding: 0px;
}

@media screen and (min-width: 1601px) {
	video#video, iframe#video {
	width: 100%;
	}
}

.video-overlay {
    background: url("../images/tile.png") repeat;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
}

.navbar-brand img {
	width: 220px;
}

.navbar-brand {
	height: auto;
}

.jumbotron {
	height: 100vh;
	background: none;
}

section {
	background-color: white;
}

section#hero {
	background: none;
}

.navbar-default {
	background: transparent;
	border: none;
}

@media (min-width: 768px) {
	.jumbotron {
	    padding-top: 0;
	}
    .navbar-header {
        float: none;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }
    .navbar-brand {
        float:none;
    }
    .navbar-brand>img {
        display: inline
    }
    .navbar-nav {
        float:none;
        text-align:center;
    }
    .navbar-nav>li {
        float:none;
        display:inline-block;
        margin-right: 50px;
    }
    .navbar-nav>li:last-child {
        margin-right: 0px;
    }
}

.hero-arrow {
	text-align: center;
	position: absolute;
	margin-left: auto;
    margin-right: auto;
    bottom: 2em;
    left: 0;
    right: 0;
}

.hero-arrow .glyphicon {
	color: #fff;
	font-size: 2.5em;
	text-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.century-font{
  font: 16px 'CenturyGothic', 'Century Gothic', Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
	font: 21px/28px 'GoodTimesRg-Regular', Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #DE5021;
}

section#titles .row {
	margin: 30px 0px;
}

section#titles .row:last-child {
	margin-bottom: 60px;
}

.gm-section-title {
	text-align: center;
	padding: 30px 0px;
}

.gm-section-title h2 {
	font-size: 3em;
}

.gm-product {
	height: 250px;
	display: table;
	width: 100%;
	text-align: center;
	border-radius: 30px;
	margin-bottom: 10px;
}

.gm-product-1 {
	background-image: url("../images/laststand.png");
	background-size: cover;
}

.gm-product-2 {
	background-image: url("../images/house100.jpg");
	background-size: cover;
}

.gm-product-3 {
	background-image: url("../images/leg4.jpg");
	background-size: cover;
}

.gm-product-4 {
	background-image: url("../images/screen1.jpg");
	background-size: cover;
}

.gm-product-5 {
	background-image: url("../images/gunit1.jpg");
	background-size: cover;
}

.gm-product-6 {
	background-image: url("../images/plane.jpg");
	background-size: cover;
}

.gm-product-7 {
	background-image: url("../images/stone.jpg");
	background-size: cover;
}

.gm-product-8 {
	background-image: url("../images/aliens.jpg");
	background-size: cover;
}

.gm-product-9 {
	background-image: url("../images/ninja.jpg");
	background-size: cover;
}

#about p {
	font-size: 1.2em;
	line-height: 1.7em;
	text-align: center;
	max-width: 780px;
	margin: 20px auto;
}

#about p:last-child {
	margin-bottom: 40px;
}

#titles .container-fluid {
	max-width: 1440px;
	padding-bottom: 3em;
}

.gm-product a {
	display: table-cell;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	transition: all 0.5s ease 0.1s;
	opacity: 0;
	color: #fff;
	text-decoration: none;
	font-size: 1.4em;
	vertical-align: middle;
}

.gm-product a:hover {
	opacity: 1;
}

.gm-background {
	height: calc(100vh - 20em);
	background: transparent;
}

a.gm-profile-pic {
	height: 217px;
	object-fit: cover;
}


.img-circle {
	max-width: 210px;
}

.gm-profiles {
	text-align: center;
	margin: 20px auto;
}

.gm-profiles .gm-profile-pic{
  max-width: 100%;
  width: 236px;
}

p.gm-profile-name {
	margin-top: 20px;
	font-size: 18px;
}

p.gm-profile-title {
	font-style: italic;
  font-size: 14px;
}

.gm-contact-form {
	text-align: center;
}

.gm-contact-form .mc-field-group label {
	display:none;
}

.gm-contact-form input,
.gm-contact-form textarea {
	border: 1px solid #000;
	box-shadow: none;
	border-radius: 0;
	width: 100%;
	height: 40px;
	padding: 5px;
	margin-bottom: 10px;
}

.gm-contact-form textarea {
	height: auto;
}

.gm-contact-form input[type=submit] {
	margin-top: 20px;
	background-color: #000;
	color: #fff;
	border: none;
	text-transform: uppercase;
	padding: 0.8em 2.2em;
	border-radius: 2px;
	transition: all 0.5s ease 0.1s;
	width: auto;
	height: auto;
}

.gm-contact-form input[type=submit]:hover {
	background-color: rgba(0,0,0,0.5);
}

#gm-footer {
	background-color: #2f2e2e;
}

#gm-footer .container {
	padding: 1em 0 1px 0;
}

#gm-footer p, #gm-footer a {
	color: #888;
}

#gm-footer p.gm-copyright {
	padding-top: 8px;
}

.gm-footer-row .col-md-4:nth-child(3) {
	text-align: right;
}

ul.gm-footer-menu {
    margin: 0;
    padding:0;
}

#gm-footer ul.gm-footer-menu li a:hover {
    color: #fff;
}

ul.gm-social-links {
	margin:0;
	padding:0;
}


ul.gm-social-links li,
ul.gm-footer-menu li {
	display: inline-block;
	margin: 0;
	padding-right: 10px;
}

ul.gm-social-links li:last-child {
	padding-right: 0;
}

ul.gm-social-links a {
	display: block;
	width: 36px;
	height: 36px;
	transition: all 0.5s ease 0.1s;
}

ul.gm-social-links a.gm-linkedin {
	background: url('../images/icn-linkedin.png') center center / 36px no-repeat;
}

ul.gm-social-links a.gm-twitter {
	background: url('../images/icn-twitter.png') center center / 36px no-repeat;
}

ul.gm-social-links a.gm-facebook {
	background: url('../images/icn-facebook.png') center center / 36px no-repeat;
}

ul.gm-social-links a.gm-instagram {
	background: url('../images/icn-instagram.png') center center / 36px no-repeat;
}

ul.gm-social-links a:hover {
	opacity: 0.6;
}

.gm-page section#top {
    background-color: #fff;
}

.gm-page section#top .navbar {
    margin-bottom: 0;
}

.gm-page section#top .jumbotron {
    height: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

.gm-page section#top .jumbotron .container {
    padding: 1em 0;
}

.gm-page section#top .hero-arrow {
    display: none;
}

.gm-page section.team-bio .container {
	max-width: 768px;
}

.gm-page section.team-bio p {
	line-height: 1.5em;
}

.gm-back-arrow {
    background: #d6d4d8;
}

.gm-back-arrow .container {
	padding: 10px;
	max-width: 780px;
}

.gm-spacer {
	height: 100px;
}

.gm-page section.gm-background {
	height: 200px;
}

.gm-titles-gallery-row {
	margin-top: 40px;
	text-align: center;
}

@media (max-width: 768px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.jumbotron {
		padding-top: 0;
	}

	.jumbotron .container {
		padding-top: 1em;
	}
	a.navbar-brand {
	    float: none;
	    margin: 0 auto;
	    display: block;
	}

	a.navbar-brand img {
	    float: none;
	    margin: 0 auto;
	    display: block;
	}

	.gm-footer-row {
		text-align: center;
	}

	.gm-footer-row .col-md-4:nth-child(3) {
		text-align: center;
		padding-top: 10px;
	}

	.gm-background {
		height: 100px;
		background: transparent;
	}
  #player{
    display: block;
  }
	video {
		display: none;
	}

	.navbar-header {
		text-align: center;
	}
	.navbar-toggle {
		float: none;
		padding: 9px 10px;
		margin: 10px auto 0 auto;
		background-color:#000;
		background-image: none;
		border: 1px solid black;
		border-radius: 4px;
	}

	.navbar-default .navbar-toggle {
		border: 1px solid black; 
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: rgba(0,0,0,0.8);
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: white;
	}

	.gm-toggle-wrapper {
		display: inline-block;
	}

	.menu-text {
		color: white;
		display: inline-block;
	}

	ul.nav.navbar-nav {
	    margin: 10px auto 0 auto;
	    text-align: center;
	    background: #fff;
	}

	ul.nav.navbar-nav  li {
	    text-align: center;
	}

	section#titles .col-md-4 {
		margin-bottom: 30px;
	}

	section#titles .row .col-md-4:last-child {
		margin-bottom: 0;
	}

}

.gm-page section.team-bio .container {
    padding-top: 0;
}

aside.gm-aside-gallery {
    position: absolute;   
    margin-top: 10px;
    margin-left: 20px;
}
.gm-aside-gallery img{
  width: 92px;
}
.navbar-header {
    margin-bottom: 40px;
}

aside.gm-aside-gallery a {
    display:block;
    margin-bottom: 20px;
}

.gm-section-titles-bio .col-md-12 {
	padding: 0;
	padding-top: 20px;
}
.gm-titles-gallery-row .tab-pane img {
    max-width: 100%;
  } 

.gm-press-link>div{
  overflow: hidden;
  text-align: center;
  max-height: 182px;
  margin-bottom: 10px;
}

.gm-press-link img{
  max-width: 100%;
  width: 100%;
}

.gm-press-link p{
  padding-top: 5px;
  border-top: 2px solid #ccc;
}

@media (max-width: 960px) { 

	aside.gm-aside-gallery {
		position: relative;
		margin: 0 auto;
		text-align: center;
	}

	aside.gm-aside-gallery a {
		display: inline-block;
		margin-right: 20px;
	}
	aside.gm-aside-gallery a:last-child {
		display: inline-block;
		margin-right: 20px;
	}
	.gm-titles-gallery-row .tab-pane img {
		max-width: 100%;
	}
}

a.gm-press-link {
    border-left: 5px solid #ccc;
    display: block;
    padding-left: 10px;
    transition: all 0.5s ease 0.1s;
}

a.gm-press-link:hover {
    border-left: 5px solid #DE5021;
    display: block;
    padding-left: 10px;
}

@media (max-width: 992px) { 
  .middle-map{
    padding-top:15px;
    padding-bottom: 15px;
    border-left: 0px;
    border-right: 0px;
    border-top: 5px solid #333;
    margin-top: 15px;
    border-bottom: 5px solid #333;
    margin-bottom: 15px;
  }
}

@media (min-width: 990px) { 
	html {
	    position: relative;
	    min-height: 100%;
	}
	body {
	    margin: 0 0 84px; /* bottom = footer height */
	}
	footer {
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    height: 84px;
	    width: 100%;
	}
}

@media (max-width: 768px) {
  .gm-press-link>div{
    max-height: 100%;
  }
  .mobile-auto-height{
    height: auto!important;
  }

}

